<div id="left-store">
    <div class="warning">
        <h1>
            Welcome To Unbound
        </h1>
        You can get the latest news all over the world, only here!
        Join us at unbound. 

    </div>

<% @articles.each do |article| %>
    <div id="article">
        <div id="the-author">
          <img src="<%#article.user.avatar.url %>">
        </div>
        <div id="onearticle">
            <div class="the-title">
              <%= link_to article.title, article %>
              <div class="edit">

                <a href="" class="button">Add To Journal</a>
                <%= link_to 'Destroy', article, :class => "negative button cross", method: :delete, data: { confirm: 'Are you sure?' } %>

              </div>
            </div>
            <div class="content">

                <%= truncate(article.content , :length => 256) %>

            </div>
        </div>
        <div id="article-toolbar">
            <a href="" class="button">Like</a>
            <a href="" class="button">Hate</a>
            <a href="" class="button">Confirm</a>
            <a href="" class="button">Deny</a>
            <a href="" class="button">Repost</a>
        </div>
    </div>

<% end %>  
</div>
<div id="right-store">
    <div class="notice">
        <h1>
            People of the world
        </h1>
        Spread the words, connect the nodes, by sharing them and following them on journals.
    </div>
    <article id="area-releases">
        <div class="header">
            Latest releases in your area
            <div class="view-all">
                <a href="">View All</a>
            </div>
        </div>

        <% Journal.limit(5).each do |journal| %>
        <div class="released-journal">
            <div class="journal-logo">
                <img src="notfound.jpg">
            </div>
            <div class="journal-info">
                <%= journal.title %>
            </div>
        </div>
        <% end %>
    </article>
</div>


<%= link_to 'New Article', new_article_path %>
