<% @articles.each do |article| %>
<section id='buzznews'>
    <div id="content">
    <div class="the-title">
      <%= article.title %>
      <div class="edit">
        <%= link_to 'Destroy', article, :class => "negative button cross", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <div class="notepad">

        <%= article.content %>

    </div>
  </div>

    <div id="the-author">
      <img src="<%= article.user.avatar.url %>">
    </div>
  </section
<% end %>  
<div id="page-wrapper">
    <div id="main-left-section">
        <% @articles.each do |article| %>
        <div id="article-item">
            <div class="article">
                <div class="item-header">
                    <%= article.created_at %>
                    
                    <img alt="<%= article.user.username %>" title="<%= article.user.username %>" src="<%= article.user.avatar.url %>" height="75px" width="75px" />
                    <div class="edit">
                        <%= link_to 'Destroy', article, :class => "negative button cross", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
                <div class="item">
                    <%= article.content %>
                </div>
            </div>
        </div>
        <% end %>
    </div>

    <div id="tiny-right-section">
        <div id="new-article-box">
        </div>
    </div>

</div>

<%= link_to 'New Article', new_article_path %>
