<div id="left-store">
    <div class="warning">
        <h1>
            Welcome To Unbound
        </h1>
        Next SoundCloud is now the new SoundCloud, for everyone. 
Take advantage of the great new features. Search & Explore to find original music & audio you'll love.

Play a sound and enjoy Continuous Play while you explore the rest of SoundCloud.

    </div>

<% @articles.each do |article| %>
    <div id="article">
        <div id="the-author">
          <img src="<%= article.user.avatar.url %>">
        </div>
        <div id="onearticle">
        <div class="the-title">
          <%= article.title %>
          <div class="edit">

            <a href="" class="button">Add To Journal</a>
            <%= link_to 'Destroy', article, :class => "negative button cross", method: :delete, data: { confirm: 'Are you sure?' } %>

          </div>
        </div>
        <div class="content">

            <%= truncate(article.content , :length => 140) %>

        </div>
    </div>
    </div>

<% end %>  
</div>
<div id="right-store">
    <div class="notice">
        <h1>
            People of the world
        </h1>
        Spread the words, connect the nodes, by sharing them and following them on journals.
    </div>
    <article id="area-releases">
        <div class="header">
            Latest releases in your area
            <div class="view-all">
                <a href="">View All</a>
            </div>
        </div>

        <div class="released-journal">
            <div class="journal-logo">
                <img src="notfound.jpg">
            </div>
            <div class="journal-info">
                Happy nation
            </div>
        </div>
    </article>
</div>


<%= link_to 'New Article', new_article_path %>
