<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Page</th>
    <th>User</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= article.created_at %></td>
    <td><%= article.updated_at %></td>
    <td><%= article.page_id %></td>
    <td><%= article.user_id %></td>
    <td><%= article.category_id %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<div id="page-wrapper">
    <div id="main-left-section">
        <% @articles.each do |article| %>
        <div id="article-item">
            <div class="article">
                <div class="item-header">
                    <%= article.created_at %>
                    
                    <img alt="<%= article.user.username %>" title="<%= article.user.username %>" src="<%= article.user.avatar.url %>" height="75px" width="75px" />
                    <div class="edit">
                        <%= link_to 'Destroy', article, :class => "negative button cross", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
                <div class="item">
                    <%= article.content %>
                </div>
            </div>
        </div>
        <% end %>
    </div>

    <div id="tiny-right-section">
        <div id="new-article-box">
        </div>
    </div>

</div>

<%= link_to 'New Article', new_article_path %>
