<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Content:</b>
  <%= @category.content %>
</p>

<p>
  <b>User:</b>
  <%= @category.user_id %>
</p>

<p>
  <b>Official:</b>
  <%= @category.official %>
</p>

<p>
  <b>Added at:</b>
  <%= @category.added_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @category.updated_at %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
